@{
    ViewData["Title"] = "License";
}
<h1>@ViewData["Title"]</h1>

<p>This is an open source product. By using it you agree to its license and the license for the components used in it. You use the product at your own risk, the licensor does not bear any responsibility for your use of this program.</p>