@model FaceSwapStudioWeb.Models.FaceSwapModel

@{
ViewData["Title"] = "Face swap";
}
<h1>@ViewData["Title"]</h1>

<h1 class="fw-light">Single images processing</h1>
<p class="text-muted">Input</p>

<form asp-action="UploadImagesForSwap" method="post" enctype="multipart/form-data">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img id="body-image" class="bd-placeholder-img card-img-top" width="100%" height="100%"/>

                        @{
                            if (Model.BodyImage == null)
                            {
                                <img id="body-image" class="bd-placeholder-img card-img-top" width="100%" height="100%"/>
                            }
                            else
                            {
                                <img id="body-image" class="bd-placeholder-img card-img-top" width="100%" height="100%" src="data:image/png;base64,@(Model.CstomConvert.FileToBase64(Model.BodyImage))"/>
                            }
                        }
                        <div class="card-body">
                            <p class="card-text">Choose a body. Select an image in which the face is clearly visible.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <input id="body-input" type="file" accept="image/*" name="body"/>
                                </div>
                                @* <small class="text-muted">9 mins</small> *@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        @* <img id="face-image" class="bd-placeholder-img card-img-top" width="100%" height="100%"/> *@

                        @{
                            if (Model.FaceImage == null)
                            {
                                <img id="face-image" class="bd-placeholder-img card-img-top" width="100%" height="100%"/>
                            }
                            else
                            {
                                <img id="face-image" class="bd-placeholder-img card-img-top" width="100%" height="100%" src="data:image/png;base64,@(Model.CstomConvert.FileToBase64(Model.FaceImage))"/>
                            }
                        }
                        <div class="card-body">
                            <p class="card-text">Choose a face. Select an image in which the face is clearly visible.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <input id="face-input" type="file" accept="image/*" name="face"/>
                                </div>
                                @* <small class="text-muted">9 mins</small> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="submit" value="Face swap" class="btn btn-primary my-2"/>
</form>

<script>
    document.getElementById('body-input').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;
        
        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('body-image').src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    }

    document.getElementById('face-input').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;
         
        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('face-image').src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    }
</script>

@{
    if (Model.SwapImage != null)
    {
        <br>
        <p class="text-muted">Output</p>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="data:image/png;base64,@(Model.CstomConvert.FileToBase64(Model.SwapImage))"/>
                            <div class="card-body">
                                <p class="card-text">Face replacement result.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        @* <input id="face-input" type="file" accept="image/*" name="body"/> *@
                                    </div>
                                    @* <small class="text-muted">9 mins</small> *@
                                </div>
                            </div>
                        </div>
                    </div>

                    @{
                        if (Model.EnchancedSwapImage != null)
                        {
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="data:image/png;base64,@(Model.CstomConvert.FileToBase64(Model.EnchancedSwapImage))"/>
                                    <div class="card-body">
                                        <p class="card-text">Face replacement result with post-processing.</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                @* <input id="face-input" type="file" accept="image/*" name="body"/> *@
                                            </div>
                                            @* <small class="text-muted">9 mins</small> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
}