@{
    ViewData["Title"] = "Face swap";
}
<h1>@ViewData["Title"]</h1>

<h1 class="fw-light">Single images processing</h1>
<p class="text-muted">Input</p>

@* <form asp-action="UploadImagesForSwap" method="post" enctype="multipart/form-data"> *@
<form action="javascript:void(0);" onsubmit="swapFace()">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img id="body-image" class="bd-placeholder-img card-img-top" width="100%" height="100%"/>
                        <div class="card-body">
                            <p class="card-text">Body image. Choose a body. Select an image in which the face is clearly visible.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <input id="body-input" type="file" accept="image/*" name="body"/>
                                </div>
                                @* <small class="text-muted">9 mins</small> *@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        @* <img id="face-image" class="bd-placeholder-img card-img-top" width="100%" height="100%"/> *@
                        <img id="face-image" class="bd-placeholder-img card-img-top" width="100%" height="100%"/>
                        <div class="card-body">
                            <p class="card-text">Face image. Choose a face. Select an image in which the face is clearly visible.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <input id="face-input" type="file" accept="image/*" name="face"/>
                                </div>
                                @* <small class="text-muted">9 mins</small> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* <input type="submit" value="Face swap" class="btn btn-primary my-2"/> *@
    <input type="submit" value="Face swap" class="btn btn-primary my-2"/>
</form>

<script>
    document.getElementById('body-input').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;
        
        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('body-image').src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    }

    document.getElementById('face-input').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;
         
        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('face-image').src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    }
</script>

<div id="result-container" style="display: none;">
    <br>
    <p class="text-muted">Output</p>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                <div id="swap-image-container" style="display: none;" class="col">
                    <div class="card shadow-sm">
                        <img id="swap-image" class="bd-placeholder-img card-img-top" width="100%" height="100%"/>
                        <div class="card-body">
                            <p class="card-text">Swap image. Face replacement result.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @* <input id="face-input" type="file" accept="image/*" name="body"/> *@
                                </div>
                                @* <small class="text-muted">9 mins</small> *@
                            </div>
                        </div>
                    </div>
                </div>


                <div id="enchanced-swap-image-container" style="display: none;" class="col">
                    <div class="card shadow-sm">
                        @* <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="data:image/png;base64,@(Model.CstomConvert.FileToBase64(Model.EnchancedSwapImage))"/> *@
                        <img id="enchanced-swap-image" class="bd-placeholder-img card-img-top" width="100%" height="100%"/>
                        <div class="card-body">
                            <p class="card-text">Enchanced Swap image. Face replacement result with post-processing.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @* <input id="face-input" type="file" accept="image/*" name="body"/> *@
                                </div>
                                @* <small class="text-muted">9 mins</small> *@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <small id = "show-calculation-time" class="text-muted">Calculation time: __</small>

    <hr class="my-4">
    
    <h1 class="fw-light">Download util</h1>

    <h4 class="mb-3">Selected files</h4>
    
    <div class="form-check">
        <input id="download-body-image" type="checkbox" class="form-check-input" checked>
        <label class="form-check-label">Body image</label>
    </div>

    <div class="form-check">
        <input id="download-face-image" type="checkbox" class="form-check-input">
        <label class="form-check-label">Face image</label>
    </div>

    <div class="form-check">
        <input id="download-swap-image" type="checkbox" class="form-check-input" checked>
        <label class="form-check-label">Swap image</label>
    </div>

    <div class="form-check">
        <input id="download-enchanced-swap-image" type="checkbox" class="form-check-input" checked>
        <label class="form-check-label">Enchanced Swap image</label>
    </div>

    <button class="btn btn-primary my-2" onclick="downloadSelected();">Download selected</button>

</div>